body{
    margin: 0;
}
canvas{
    border: 1px solid; 
    float: left
}
#pointer{
    position: absolute;
    border: 1px solid;
    border-radius: 50%;
    display: none;
    pointer-events: none;
    

}